<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>設定我的列表</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    <!-- 引用Vue -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/LoginChecked.js"></script>
    <style>
        .checkBx input[type="checkbox"] {
            display: none;
        }

        .checkBx input[type="radio"] {
            display: none;
        }
    </style>
</head>

<body>
    <div class="container-fluid" id="app">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="Change.html">TOS</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav" v-if="data.userName === '未登入'">
                        <li class="nav-item">
                          <a class="nav-link" aria-current="page" href="Change.html">主頁</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link active" href="Change.html">交換列表</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link active" href="login.html">登入</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link active" href="singup.html">註冊</a>
                        </li>
                      </ul>
                      <ul class="navbar-nav" v-else>
                        <li class="nav-item">
                          <a class="nav-link" aria-current="page" href="Change.html">主頁</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">{{data.userName.username}}</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="User.html">我的列表</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link active" href="Change.html">交換列表</a>
                        </li>
                        <li class="nav-item">
                          <a id="LoginOut" class="nav-link" href="#">登出</a>
                        </li>
                      </ul>
                </div>
            </div>
        </nav>

        <div class="formBx mt-2">
            <form v-if="data.BackupState === 0">
                <div id="radio">
                    <div class="inputBx col-12">
                        <label for="Backup">是否為回鍋帳號:</label>
                        <label><input type="radio" name="BackupState" value="true"><span
                                class="round button">是</span></label>
                        <label><input type="radio" name="BackupState" value="false" checked="checked"><span
                                class="round button">否</span></label>
                    </div>
                    <div class="mb-3">
                        <label for="accountInfo" class="form-label">聯絡管道:(可貼巴哈連結、ptt站內等等資訊，100字以內)</label>
                        <textarea class="form-control" id="InfoText" rows="3" maxlength="100"
                            name="accountInfo"></textarea>
                    </div>

                    <div class="col-12">
                        <h2>請設定帳號一抽列表 </h2>
                        <div class="checkBx">
                            <div class="itemBx" v-for="item in data.carddata">
                                <input type="checkbox" class="chose" :text="'list'+item.cardName"
                                    v-bind:id="item.cardId" v-model="group" name="card" v-bind:value="item.cardId"
                                    :disabled="group.length >= max && group.indexOf(item.cardId) === -1">
                                <label class="col-1" :for="item.cardId"><img v-bind:src="item.cardImg" alt=""><span class="text">{{item.cardName}}</span></label>
                                
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-12">
                        <h2>請設定想交換的列表</h2>
                        <div class="checkBx">
                            <div class="itemBx" v-for="wantitem in data.carddata">
                                <input type="checkbox" class="chose" :text="'list'+wantitem.cardName"
                                    v-bind:id="'want'+wantitem.cardId" v-model="wantgroup" name="wantcard"
                                    v-bind:value="wantitem.cardId"
                                    :disabled="wantgroup.length >= max && wantgroup.indexOf(wantitem.cardId) === -1">
                                <label class="col-1" :for="'want'+wantitem.cardId"><img v-bind:src="wantitem.cardImg"
                                        alt=""><span class="text">{{wantitem.cardName}}</span></label>
                            </div>
                        </div>
                    </div>

                    <div class="col-12"><button type="button" id="btnSend" @click="PostData"
                            class="btn btn-primary">送出</button></div>
                </div>
            </form>

            <div v-else class="InfoBx mt-2">
                <div class="InfoContent">
                    <h2>玩家姓名:{{data.userdata.userName}}</h2>
                    <div>
                        <span>帳號狀態:</span>
                        <button v-if="data.userdata.userBackState === false" class="normal">一般</button>
                        <button v-else class="back">回鍋</button>
                    </div>
                    <h4>持有列表:</h4>
                    <ul>
                        <li v-for="item in data.userdata.haveCard">
                            <img :src="item.cardimg" alt="">
                            <span>{{item.cardName}}</span>
                        </li>
                    </ul>
                    <h4>想交換列表:</h4>
                    <ul>
                        <li v-for="item in data.userdata.wantCard">
                            <img :src="item.cardimg" alt="">
                            <span>{{item.cardName}}</span>
                        </li>
                    </ul>
                    <div class="text">
                        <p>聯絡管道:{{data.userdata.userAccountInfo}}</p>
                    </div>

                    <div class="col-12" v-if="data.userName.userState != 2">
                        <h2>更新持有列表(可點選已被選走的卡片)</h2>
                        <div class="checkBx">
                            <div class="itemBx" v-for="item in data.userdata.haveCard">
                                <input type="checkbox" class="chose" v-bind:id="item.cardId" v-model="group"
                                    name="updatecard" v-bind:value="item.cardId"
                                    :disabled="group.length >= (UpdateMax - data.userName.userState) && group.indexOf(item.cardId) === -1">
                                <label class="col-1" :for="item.cardId"><img v-bind:src="item.cardimg" alt=""><span class="text">{{item.cardName}}</span></label>
                            </div>
                        </div>
                        <button class="btn btn-primary" @click="UpdateChangeList">更新</button>
                    </div>

                </div>
                
            </div>
        </div>
    </div>

    <script src="js/User.js"></script>
    <script src="js/LogOut.js"></script>
</body>

</html>